# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [1]:
# str. lstrip

name = "    Austin"
name.lstrip()

name = "    Austin"
name.lstrip("A ")

'ustin'

##### .rstrip()

In [3]:
#str. rstrip
name = "     Pari    "

In [4]:
name.rstrip()

'     Pari'

##### .strip()

In [6]:
# str. strip
name = "    Jesus    "

In [7]:
name.strip()

'Jesus'

In [8]:
word = "racecar"
word.strip("r at")

'cec'

##### .title()

In [10]:
name = "name is capital first letter"
name.title()

'Name Is Capital First Letter'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [17]:
names = ['     coNNor', 'max', 'Evan', 'JORDAN']
for name in names:
    print(name.strip().title())
#name is a "member" of the list for "name" in names

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [18]:
my_list = [88,55,44,80,45,12,386,8561231,2]
min(my_list)

2

##### max()

In [19]:
max(my_list)

8561231

##### sum()

In [20]:
sum(my_list, start=1)

8561943

##### sorted()

In [22]:
# built in fun in pyhton works on any iterable
#return the array in sorted order
print(sorted(my_list))
print(sorted("adfhakj"))

[2, 12, 44, 45, 55, 80, 88, 386, 8561231]
['a', 'a', 'd', 'f', 'h', 'j', 'k']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [24]:
#.sort is a method of the list class
my_list = [88,55,44,80,45,12,386,855,2]
print(my_list.sort())#reurns none
print(my_list)

None
[2, 12, 44, 45, 55, 80, 88, 386, 855]

##### Copying a List

In [26]:
# not the most effaint way to do it
my_list1 = [1,2,3,4,5]
my_list2 = my_list1
my_list2.append(6)
print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [27]:
# use a slice to copy a list the most practical way.
mlist1 = [1,2,3,4,5]
mlist2= mlist1 [:]
mlist2.append(6)
print(mlist1)
print(mlist2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

##### 'in' keyword

In [ ]:
5 in [2,3,7] # note wil a list this is basically a for loop
5 in {2,3,4,7} # this is a constant time operation

##### 'not in' keyword

In [ ]:
5 not in [2,3,7]

##### Checking an Empty List

In [28]:
mlist = []
if len(mlist) == 0:
    print("its empty")
if mlist == []:
    print("its empty")
if not mlist:
    print("its empty")

its empty
its empty
its empty

##### Removing Instances with a Loop

In [31]:
name = ["toan","tim","steve","mccall","anu","steve"]
while "steve" in name:
    name.remove("steve")
    print(name)
print(f"list at the end of the loop:{name}")

['toan', 'tim', 'mccall', 'anu', 'steve']
['toan', 'tim', 'mccall', 'anu']
list at the end of the loop:['toan', 'tim', 'mccall', 'anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [43]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# need create a new list to add items too
new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)
#could you use list(set(names)) for best result

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [48]:
nums = []
for i in range(100):
    nums.append(i**2)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(f"nums_comp\n{nums_comp}")

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]
nums_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [49]:
names = ["mark","sam","dirrik","dan"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['m', 's', 'd', 'd']

In [59]:
four_letter_names = [name for name in names if len(name)==4]
print(four_letter_names)

['mark']

In [61]:
la=[1,2,3,4,5,6]
lb=["a","b","c","d"]
let_num=[]
for number in la:
    for letter in lb:
        let_num.append(str(number)+(letter))
print(let_num)

['1a', '1b', '1c', '1d', '2a', '2b', '2c', '2d', '3a', '3b', '3c', '3d', '4a', '4b', '4c', '4d', '5a', '5b', '5c', '5d', '6a', '6b', '6c', '6d']

In [64]:
let_num_comp = [f'{number}{letter}' for number in la for letter in lb]
print(let_num_comp)

['1a', '1b', '1c', '1d', '2a', '2b', '2c', '2d', '3a', '3b', '3c', '3d', '4a', '4b', '4c', '4d', '5a', '5b', '5c', '5d', '6a', '6b', '6c', '6d']

In [65]:
sent = ["today", "is", "the", "day"]

letters=[]
for word in sent:
    for letter in word:
        letters.append(letter)
print(letters)

['t', 'o', 'd', 'a', 'y', 'i', 's', 't', 'h', 'e', 'd', 'a', 'y']

In [ ]:
letters_comp = [letter.upper for word in sentance for letter in word]

### EX....

In [ ]:
# given a list use a list comprehension to give me the 
# last letter of each word capitalized
my_list=["steve","susan","jake","troy"]
#output 
#["E", "N", "E", "Y"]
[name[-1].upper() for name in my_list]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [66]:
t = 1,2,3
print(t, type(t))

(1, 2, 3) <class 'tuple'>

In [ ]:
#empty tuple usless
t_1 = tuple()
t_2 = ()

In [67]:
my_tup = ("tim", "david","mike")
my_tup[1]

'david'

In [68]:
my_tup.index("mike")

2

##### sorted()

In [71]:
sorted_tup = sorted(my_tup)
print(sorted_tup)

['david', 'mike', 'tim']

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values

## Functions

##### User-Defined vs. Built-In Functions

In [72]:
#built in funs
#int(), min, max, type, print, help, dir, abs, sorted

#User defined function

def say_hello():
    print("hello world")
say_hello() #<--- to exicute the function

hello world

##### Accepting Parameters

In [ ]:
# Order matters
# A variable can be any type of object

def print_full_name(first_name, last_name):
    print(f"{first_name} {last_name}")

print_full_name("kevin", "beier")

##### Default Parameters

In [76]:
def print_agent_name(first, last="bond"):
    print(f"Your agent name is {last}, {first} {last}")
print_agent_name("James")

Your agent name is bond, James bond

In [ ]:
print_agent_name(last="Beier", first="Kevin")

##### Making an Argument Optional

In [81]:
def make_name(first, middle="", last="ed"):
    print(f"hello {first} {middle} {last}")
make_name("Kevin")
make_name("kevin", "andrew")
make_name("kevin", "andrew", "beier")
make_name("Kevin",last="Beier")

hello Kevin  ed
hello kevin andrew ed
hello kevin andrew beier
hello Kevin  Beier

In [82]:
def what_datatype():
    return 5/5
print(what_datatype())
print("thanks")

1.0
thanks

In [87]:
def return_stops():
    for i in range(10):
        print(i)
        if i == 3:
            return 4
return_stops()

0
1
2
3

4

In [ ]:
def dead_code():#unreachable code
    print("Hello")
    return
    print("Good by") #<--- unreachable

##### Keyword Arguments

In [ ]:
#see above

In [92]:
# *args and ** Kwargs
def my_func(name, *args):
    print(name)
    for arg in args:
        print(arg)

In [93]:
def my_func(name, **kwargs):
    for key in kwargs:
        print(key, kwargs[key])
my_func("Kevin", hieght=77, weight=140.9, foods=["tacos","pizza"])

hieght 77
weight 140.9
foods ['tacos', 'pizza']

In [ ]:
my_dict = {"key":"value","name":"kevin"}

In [2]:
def my_sum(*args):
    return sum(args)
my_sum(1,2,3)

def my_sum1(*args):
    total=0
    for number in args:
        total+=number
    return total
print(my_sum1(1,2,3,4,5,6))

21

# Creating a start, stop, step function

In [108]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
#my_range(10)
my_range(10,5,2)

5
7
9

##### Returning Values

In [109]:
def add_nums(num1, num2):
    return num1 + num2
print(add_nums(1,2))

3

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

##### Docstring

In [ ]:
def my_function(name, age):
    """this is for info on the function"""

##### Using a User Function in a Loop

In [ ]:
def add_two(n):
    print(n+2)
while True:
    ask = int(input("what is you number"))
    add_two(ask)
    response = input("ready to quit?")
    response.lower()=="quit":

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [4]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']


def add_names(first, last):
    full_names=[]
    for i in range(len(first)):
        full_names.append(first[i]+" "+last[i])
    return full_names
add_names(first, last)
# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#placement of variable declaration matters
var1 = "A" #Global scope

def my_f():
    print(var1)
    var2= "B"# Function scope or local
    print(var2)

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [32]:
# Use the following list - [1,11,14,5,8,9]
nums = [1,11,14,5,8,9]

def less_than_ten(numbers):
    for num in nums:
        if num <10:
            print(num)        
less_than_ten(numbers)

1
5
8
9

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [43]:
la = ["1 Fight", "2 Chicken", "3 Dont", "4 scurrd"]
lb = ["A", ", Homie", "Be", "!"]

def fighting_chicken(la, lb):
    dat_list=[]
    for i in range(len(la)):
        dat_list.append(la[i]+" "+lb[i])
        dat_list.sort()
    return dat_list
fighting_chicken(la, lb)

['1 Fight A', '2 Chicken , Homie', '3 Dont Be', '4 scurrd !']